<%= simple_form_for(@config, url: staff_config_path(@config)) do |f| %>

    <section class="page-title">
        <h1>
            <%= t('configs.index') %>
        </h1>
        <div class="page-title-action">

            <button class="btn btn-sm btn-success">
                <i class="fa fa-check"></i>
                <%= t('save') %>
            </button>

        </div>
    </section>


    <%= render partial: 'form', locals: { f: f } %>

<% end %>
