<md-grid-list
		md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
		md-row-height-gt-md="1:1"
		md-gutter="12px" md-gutter-gt-sm="8px">

	<md-grid-tile class="md-grid-tile__gray" ng-repeat="photo in photos track by $index">
		<div class="b-photo">
			<div class="b-photo__img"
			     style="background-image: url('{{ photo.attach.thumb.url }}')">
			</div>
			<div class="b-photo__edit">
				<div class="btn-group btn-group-sm">
					<div class="btn btn-danger"
					        ng-click="photoDestroy(photo.id)">
						<i class="fa fa-trash"></i>
					</div>
					<div class="btn btn-primary"><i class="fa fa-pencil"></i></div>
				</div>
			</div>
		</div>
	</md-grid-tile>

</md-grid-list>
