<header class="b-header">
    <div class="b-header__container">

        <div class="b-header-brand">
            <%= link_to "commerceCms", staff_root_path,
                        class: 'b-header-link b-header-brand__item' %>
        </div>

        <% if admin_signed_in? %>
            <div class="b-header-admin">

                <div class="b-header-admin__item b-header-admin__current">
                    <%= fa_icon "user", text: current_admin.email %>
                </div>

                <%= link_to destroy_admin_session_path,
                            class: 'b-header-admin__item b-header-admin__logout b-header-link' do %>
                    <%= fa_icon "sign-out", text: 'Выйти' %>
                <%- end %>

            </div>
        <% end %>

    </div>
</header>

<nav class="navbar navbar-default" ng-controller="MainController">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="categories">Categories</a>
            </li>
            <li><a href="#">Link</a></li>
        </ul>
        <div ng-view></div>
    </div>
    <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</nav>
