// BEGIN colors
$light-gray: #f7f7f7;
$black: #333;
$white: #fff;
// END colors

// BEGIN backgrounds
$layout-background: $light-gray;
$header-bg: #30373a;
// END backgrounds

// BEGIN base-font
$base-font-size: 12px;
$base-font-family: 'Roboto', sans-serif;
$base-font-weight: 400;
$base-font-color: $black;
// END base-font

$layout-max-width: 100%;
