.g-container{
    max-width: 100%;
}
.g-flex-container{
    display: flex;
}
.g-flex-container__space-between{
    justify-content: space-between;
}
.flex__align-items_center{
    align-items: center;
}
.flex__align-items_stretch{
    align-items: stretch;
}
