html,
body{
    width: 100%;
    min-height: 100%;

    box-sizing: border-box;

    background: $layout-background;

    color: $base-font-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}
