html,
body{
    width: 100%;
    height: 100%;

    color: $base-font-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}
body{
    background: $layout-background;
}
*{
    box-sizing: border-box;
}
