@import "vars";
// begin bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";
// end bootstrap
@import "font-awesome";
@import "roboto-fontface";
@import "reset.css";
@import "layout";


.b-login-form-container{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.b-login-form{
    width: 300px;
    //padding: 10px;
    //background-color: $login-form-bg;
    //box-shadow: 0 0 5px $gray-lighter;
}
