.b-photo{
    position: relative;
    width: 100%;
    height: 100%;
    //padding: 3px 3px 100% 3px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 1px solid $gray-light-2;
}
.b-photo__edit,
.b-photo__img,
.b-photo__img-upload{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.b-photo__img{
    background-color: $gray-light-3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    border: 3px solid $white;
}
.b-photo__edit{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;

    &:hover{
        opacity: 1;
        background-color: rgba(0, 0, 0, .5);
    }
}
.b-photo__img-upload{
    display: flex;

    background-color: $gray-light-3;
    border: 3px solid $white;
}
.b-photo__img-upload-icons{
    margin: auto;
    color: $gray-light-2;
    font-size: 3rem;
}
.md-grid-tile__gray{
    background-color: $gray-light-3;
}
